# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

src/old/
examples/old/
builddir/
subprojects/.wraplock
subprojects/libpng-1.6.58/
subprojects/packagecache/
subprojects/SDL3_image-3.2.4/
subprojects/SDL3-3.4.12/
subprojects/snitch-1.3.2/
subprojects/zlib-1.3.2/
subprojects/taocpp-json/
